$merah: #f44336;
$kuning: #ffeb3b;
$biru: #2196f3;
$hijau: #4caf50;
$putih:#ffffff;
$hitam:#000000;
$kelabu: #9e9e9e;
$coklat: #795548;

$diffHover: 10;

$colorMaps:(
    merah:(
        bg: $merah,
        font: $putih,
        hover: lighten($merah,$diffHover)
    ),
    kuning:(
        bg: $kuning,
        font: $hitam,
        hover: lighten($kuning,$diffHover)
    ),
    biru:(
        bg: $biru,
        font: $putih,
        hover: lighten($biru,$diffHover)
    ),
    hijau:(
        bg: $hijau,
        font: $putih,
        hover: lighten($hijau,$diffHover)
    ),
    putih:(
        bg: $putih,
        font: $hitam,
        hover: darken($putih,$diffHover)
    ),
    hitam:(
        bg: $hitam,
        font: $putih,
        hover: lighten($hitam,$diffHover)
    ),
    kelabu:(
        bg: $kelabu,
        font: $putih,
        hover: lighten($kelabu,$diffHover)
    ),
    coklat:(
        bg: $coklat,
        font: $putih,
        hover: lighten($coklat,$diffHover)
    ),
);