a.tombol, div.tombol, button.tombol {
  padding: 1em;
  border: none;
  background: #ccc;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 2px;
  display: inline-block; }
  a.tombol:focus, div.tombol:focus, button.tombol:focus {
    outline: none; }
  a.tombol.kecil, div.tombol.kecil, button.tombol.kecil {
    font-size: .7em; }
  a.tombol.besar, div.tombol.besar, button.tombol.besar {
    font-size: 1.2em; }
  a.tombol.lebar, div.tombol.lebar, button.tombol.lebar {
    padding: 1em 2em; }
  a.tombol.penuh, div.tombol.penuh, button.tombol.penuh {
    width: 100%; }
  a.tombol:hover, div.tombol:hover, button.tombol:hover {
    background: #b3b3b3; }
  a.tombol.merah, div.tombol.merah, button.tombol.merah {
    background: #f44336;
    color: #ffffff; }
    a.tombol.merah:hover, div.tombol.merah:hover, button.tombol.merah:hover {
      background: #db2a1d; }
  a.tombol.kuning, div.tombol.kuning, button.tombol.kuning {
    background: #ffeb3b;
    color: #000000; }
    a.tombol.kuning:hover, div.tombol.kuning:hover, button.tombol.kuning:hover {
      background: #e6d222; }
  a.tombol.biru, div.tombol.biru, button.tombol.biru {
    background: #2196f3;
    color: #ffffff; }
    a.tombol.biru:hover, div.tombol.biru:hover, button.tombol.biru:hover {
      background: #087dda; }
  a.tombol.hijau, div.tombol.hijau, button.tombol.hijau {
    background: #4caf50;
    color: #ffffff; }
    a.tombol.hijau:hover, div.tombol.hijau:hover, button.tombol.hijau:hover {
      background: #339637; }
  a.tombol.putih, div.tombol.putih, button.tombol.putih {
    background: #ffffff;
    color: #000000; }
    a.tombol.putih:hover, div.tombol.putih:hover, button.tombol.putih:hover {
      background: #e6e6e6; }
  a.tombol.hitam, div.tombol.hitam, button.tombol.hitam {
    background: #000000;
    color: #ffffff; }
    a.tombol.hitam:hover, div.tombol.hitam:hover, button.tombol.hitam:hover {
      background: #191919; }
  a.tombol.kelabu, div.tombol.kelabu, button.tombol.kelabu {
    background: #9e9e9e;
    color: #ffffff; }
    a.tombol.kelabu:hover, div.tombol.kelabu:hover, button.tombol.kelabu:hover {
      background: #858585; }
  a.tombol.coklat, div.tombol.coklat, button.tombol.coklat {
    background: #795548;
    color: #ffffff; }
    a.tombol.coklat:hover, div.tombol.coklat:hover, button.tombol.coklat:hover {
      background: #603c2f; }

@media screen and (max-width: 768px) {
  /* For mobile phones: */
  .tombol {
    display: block !important;
    text-align: center;
    margin: auto;
    width: 90%; } }
@media screen and (max-width: 250px) {
  /* For mobile phones: */
  .tombol {
    display: none !important; } }
.row::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  padding: 0; }
  .test > [class*="col-"] {
    border: 1px solid white;
    background: grey; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 24.99%; }

.col-4 {
  width: 33.32%; }

.col-5 {
  width: 41.65%; }

.col-6 {
  width: 49.98%; }

.col-7 {
  width: 58.31%; }

.col-8 {
  width: 66.64%; }

.col-9 {
  width: 74.97%; }

.col-10 {
  width: 83.3%; }

.col-11 {
  width: 91.63%; }

.col-12 {
  width: 99.96%; }

@media screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%; } }
nav.menu {
  background: #b3b2b2;
  color: black;
  text-align: center;
  list-style: none;
  font-size: .8em; }
  nav.menu a, nav.menu a:hover, nav.menu a:visited, nav.menu a:active, nav.menu a:disabled {
    color: black; }
  nav.menu.side {
    height: 100vh;
    padding-top: 1em; }
    nav.menu.side li {
      padding: 1em;
      cursor: pointer; }
  nav.menu.top {
    width: 100%;
    text-align: start; }
    nav.menu.top li {
      padding: .5em 1em;
      cursor: pointer;
      display: inline-block;
      text-align: center; }
  nav.menu.merah {
    background: #f44336;
    color: #ffffff; }
    nav.menu.merah li:hover, nav.menu.merah li.active {
      background: #db2a1d; }
    nav.menu.merah a, nav.menu.merah a:hover, nav.menu.merah a:visited, nav.menu.merah a:active, nav.menu.merah a:disabled {
      text-decoration: none;
      color: #ffffff; }
  nav.menu.kuning {
    background: #ffeb3b;
    color: #000000; }
    nav.menu.kuning li:hover, nav.menu.kuning li.active {
      background: #e6d222; }
    nav.menu.kuning a, nav.menu.kuning a:hover, nav.menu.kuning a:visited, nav.menu.kuning a:active, nav.menu.kuning a:disabled {
      text-decoration: none;
      color: #000000; }
  nav.menu.biru {
    background: #2196f3;
    color: #ffffff; }
    nav.menu.biru li:hover, nav.menu.biru li.active {
      background: #087dda; }
    nav.menu.biru a, nav.menu.biru a:hover, nav.menu.biru a:visited, nav.menu.biru a:active, nav.menu.biru a:disabled {
      text-decoration: none;
      color: #ffffff; }
  nav.menu.hijau {
    background: #4caf50;
    color: #ffffff; }
    nav.menu.hijau li:hover, nav.menu.hijau li.active {
      background: #339637; }
    nav.menu.hijau a, nav.menu.hijau a:hover, nav.menu.hijau a:visited, nav.menu.hijau a:active, nav.menu.hijau a:disabled {
      text-decoration: none;
      color: #ffffff; }
  nav.menu.putih {
    background: #ffffff;
    color: #000000; }
    nav.menu.putih li:hover, nav.menu.putih li.active {
      background: #e6e6e6; }
    nav.menu.putih a, nav.menu.putih a:hover, nav.menu.putih a:visited, nav.menu.putih a:active, nav.menu.putih a:disabled {
      text-decoration: none;
      color: #000000; }
  nav.menu.hitam {
    background: #000000;
    color: #ffffff; }
    nav.menu.hitam li:hover, nav.menu.hitam li.active {
      background: #191919; }
    nav.menu.hitam a, nav.menu.hitam a:hover, nav.menu.hitam a:visited, nav.menu.hitam a:active, nav.menu.hitam a:disabled {
      text-decoration: none;
      color: #ffffff; }
  nav.menu.kelabu {
    background: #9e9e9e;
    color: #ffffff; }
    nav.menu.kelabu li:hover, nav.menu.kelabu li.active {
      background: #858585; }
    nav.menu.kelabu a, nav.menu.kelabu a:hover, nav.menu.kelabu a:visited, nav.menu.kelabu a:active, nav.menu.kelabu a:disabled {
      text-decoration: none;
      color: #ffffff; }
  nav.menu.coklat {
    background: #795548;
    color: #ffffff; }
    nav.menu.coklat li:hover, nav.menu.coklat li.active {
      background: #603c2f; }
    nav.menu.coklat a, nav.menu.coklat a:hover, nav.menu.coklat a:visited, nav.menu.coklat a:active, nav.menu.coklat a:disabled {
      text-decoration: none;
      color: #ffffff; }

.card {
  color: black;
  font-size: .9em;
  background: #c4c3c3;
  display: inline-block; }
  .card .title {
    padding: 1em;
    font-weight: bold;
    background: #abaaaa;
    border: 1px solid white;
    border-width: 0 0 1px 0; }
  .card .subtitle {
    padding: 1em;
    font-size: .8em; }
  .card .action {
    padding: .5em;
    text-align: right;
    border: 1px solid white;
    border-width: 1px 0 0 0; }
    .card .action a {
      text-decoration: none;
      color: black; }
  .card.merah {
    background: #f44336;
    color: #ffffff; }
    .card.merah .title {
      background: #db2a1d; }
    .card.merah a {
      color: #ffffff; }
  .card.kuning {
    background: #ffeb3b;
    color: #000000; }
    .card.kuning .title {
      background: #e6d222; }
    .card.kuning a {
      color: #000000; }
  .card.biru {
    background: #2196f3;
    color: #ffffff; }
    .card.biru .title {
      background: #087dda; }
    .card.biru a {
      color: #ffffff; }
  .card.hijau {
    background: #4caf50;
    color: #ffffff; }
    .card.hijau .title {
      background: #339637; }
    .card.hijau a {
      color: #ffffff; }
  .card.putih {
    background: #ffffff;
    color: #000000; }
    .card.putih .title {
      background: #e6e6e6; }
    .card.putih a {
      color: #000000; }
  .card.hitam {
    background: #000000;
    color: #ffffff; }
    .card.hitam .title {
      background: #191919; }
    .card.hitam a {
      color: #ffffff; }
  .card.kelabu {
    background: #9e9e9e;
    color: #ffffff; }
    .card.kelabu .title {
      background: #858585; }
    .card.kelabu a {
      color: #ffffff; }
  .card.coklat {
    background: #795548;
    color: #ffffff; }
    .card.coklat .title {
      background: #603c2f; }
    .card.coklat a {
      color: #ffffff; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; }

* {
  box-sizing: border-box; }

a, a:hover, a:visited, a:active, a:disabled {
  text-decoration: none; }

/*# sourceMappingURL=app.css.map */
